@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);

body {
    background: url("img/bg_frost.jpeg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: #454547;
    font-family: "Candara", "Charcoal", sans-serif;
    color: #F0F0F0;
}

ul {
    list-style-type: none;
}

button {
    border: none;
    padding: 5px 10px 5px 10px;
    background-color: rgba(0,0,0,.4);
    font-weight: bold;
    letter-spacing: .075em;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
}

input{
  color: #FFF;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: #000;
}

button.delete_button {
  background-color: rgba(0, 0, 0, 0);
  color: #F00;
  text-decoration: underline;
  padding-bottom: 1em;
}

button.delete_button:hover {
  color: #FFF;
}

button.delete_button:active, button.delete_button:focus {
  outline: 0px;
}

.loginbox input, .needs input, .needs textarea{
  margin-bottom: 19px;
}

.loginbox input, .loginbox button, .needs input, .needs textarea, .needs button{
  border: 1px solid gray;
  background-color: rgba(0,0,0,.2);
  padding: 8px 24px 8px 10px;
}

button.logout_button {
    position: absolute;
    top:10px;
    right:10px;
}

.login_button, .submit_button{
    width: 89%;
}

.content {
    background-color:rgba(130,130,130,.6);
    margin:5px auto;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 12px;
    width: 80%;
    min-height: 180px;
    border: 1px solid gray;
    position: relative;
}

.brukeroverskrift {
  margin: auto;
  text-align: center;
  margin-bottom: 15px;
}

#forsidetittel {
    text-align: center;
    color: #DDDCCA;
    font-size: 500%;
    margin: 50px 0px;
    text-shadow: black 1px 1px 2px
}

.loginbox, .needs{
  position: relative;
  width: 400px;
  margin: 0 auto;
  background: rgba(130,130,130,.6);
  padding: 20px 22px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #DDDCCA;
}

#password_field::placeholder, #username_field::placeholder,  #title_field::placeholder, #description_field::placeholder{
  color: white;
  opacity: 0.7;
}

#password_field, #username_field, #title_field, #description_field {
    width: 80%;
}

.concertlist {
    position: relative;
    margin:0px;
    padding:0px;
    display: flex;
    flex-direction: column;
}

.concertlist li {
    margin: 5px;
    padding: 5px;
    border: 1px solid #565656;
    position: relative;
}

ul.concertlist li span{
    width: calc(100% - 4.5em);
    display: inline-block;
}

.technicianlist {
    border: 0px transparent;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
}

.concertInfo .tb_overskrift{
  display: none;
}

.concertInfo .behov{
  text-align: center;
  border: none;
}

.behov {
  border: 1px solid #565656;
  margin: 10px;
  padding: 10px;
}

.concert_button {
    display: block;
    width: 30%;
    font-size: 10vm;
    margin: auto;
}

.button_text{
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

button.scene_button {
    width:120px;
    height:80px;
    margin-left: 16.666%;
}

.concertInfo {
  text-align: center;
}

.concertInfo > div{
  margin-left: 10px;
}

ul.singleScene {
  padding-left: 15px;
}

.scenelist {
    margin:0px;
    padding:0px;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    text-align: center;
}

.scene1, .scene2, .scene3 {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

.sceneButtonContainer {
    width: 33.3%;
	float: left;
}

li.scenePoint {
    display: inline;
}

.needs > * {
  max-width: 89%;
  min-width: 89%;
  min-height: 1.5em;
}

.manager_radio {
    border: 0px;
    width: 100%;
    height:2em;
    position: absolute;
    left: 2em;
    transform: translate(-50%, -0.25em)
}

.sokeinput{
  width: 30%;
  margin: auto;
}

.sokeinput input[type="text"] {
  width: calc(100% - 60px);
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  box-sizing: border-box;
  color: black;
}

.sokeinput input[type="radio"] {

}

#resultlist{
  width: 25%;
  height: 400px;
  background-color: #E3E3E3;
  color: black;
  overflow-y: scroll;
}

#resultlist table, .albumsalg table, .tidligereKonserter table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: left;
  margin: auto;
}

#resultlist th, #resultlist td , .albumsalg th, .tidligereKonserter th, .albumsalg td, .tidligereKonserter td{
  padding: 8px;
}

#resultlist th, .albumsalg th, .tidligereKonserter th {
  background-color: #3738AF;
  color: #F4F4F4;
}

#resultlist tr:hover , .albumsalg tr:hover, .tidligereKonserter tr:hover {
  background-color: #D8D8D8;
  cursor: pointer;
}

#resultlist .shortColumn {
  width: 40px;
}

#informationlist{
  border: 1px solid gray;
  width: 70%;
  min-height: 400px;
  background-color: #E3E3E3;
  color: black;
}

#results{
  margin: auto;
  display: flex;
  width: 90%;
  justify-content: space-between;
}

#sokeinput{
  margin: auto;
}

.fane {
  display: none;
}

#tekniskebehov {
  display: initial;
}

.faneknapp {
  background: rgba(255,255,255,0.4);
}

#tekniskebehov_knapp {
  background: rgba(0,0,0,0.4);
}

.bandImage {
  width: 200px;
  height: 140px;
  float:left;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 10px;
}

#informationlist h3 {
  text-align: center;
}

.bandInfo{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nokkelinfo{
  display: inline-flex;
  flex-direction: column;
  align-content: center;
}

.keyConcertInfo, .concertDetails {
  text-align: center;
}

#prisgenerering {
  display: none;
  text-align: center;
}

#prisgenerering > div {
  display: inline-block;
  border: 1px solid #565656;
  margin: 10px;
  padding: 10px;
}
